html {
  background: #444;
}

body {
  background: #444;
}


.viewport {
  margin: 80px auto;
  overflow: hidden;
}

.room {
}

.room .tileRow {
  clear: both;
}

.tile {
  border: 2px solid #222;
  float: left;
}

.floor {
  background: #ccc;
}

.dark-floor {
  background: #aaa;
}

.wall {
  background: #222;
}

.torch {
  transition: background 0.2s /*, transform 1s; */
}

.monster {
  background: #6a2;
}
