html {
  background: #444;
}

body {
  background: #444;
}


.viewport {
  margin: 80px auto 10px;
  overflow: hidden;
}

.room {
}

.room .tileRow {
  clear: both;
}

.tile {
  border: 2px solid #222;
  float: left;
}

.health {
  margin: auto;
}

.credits {
  margin: auto;
  float: right;
}

.health .tile {
  background: #333;
}

.health .tile.health-point {
  background: red;
}

.floor {
  background: #ccc;
}

.dark-floor {
  background: #aaa;
}

.wall {
  background: #222;
}

.thief {
  background: #556;
}

.hit {
  background: red;
}

.cake {
  background: #f9a;
}

.torch {
  transition: background 0.2s /*, transform 1s; */
}

.sword {
  background: #bbf;
}

.stone {
  background: #677;
}

.monster {
  background: #6a2;
}

.rat {
  background: #855;
}
